.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  z-index: 1;
}
.nav__logo {
  width: 80px;
  object-fit: contain;
  position: fixed;
  left: 20px;
  padding-top: 17px;
}

.nav__avatar {
  width: 30px;
  object-fit: contain;
  position: fixed;
  right: 20px;
  padding-top: 20px;
}
